@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');


 /*body style*/

body
{   
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    margin: 0px;
}
 
.page
{
    width: 90%;
    padding-bottom: 50px;
    margin: auto;
}
 
body, header, .nav_left, .ul_nav, .research, .filters, .para_span_infos, #accomodations, .box_title_accommodations, .photo_housing, .plus, .box_title_popular, .box_popular_housing, .photo_popular, .p_popular, #activities, .box_title_activities, .box_all_activities, .photo_vieux_port, .photo_calanques,.photo_pomegues, .photo_frioul, .photo_la_garde, .photo_longchamp, .footer, .about, .lodging, .assistance
{
    width: 100%;
}
 
header, .box_logo_nav_left, .nav_left, .ul_nav, .grey_border, .part_research, .input_button_search, .filters, .title_filters, .ul_filters, .li_filters, .box_infos, .para_span_infos, .span_infos, #accommodations, .box_all_accommodations, .plus, .box_all_most_popular, .box_title_popular, .box_popular_housing, .box_p_popular, .box_all_activities, .box_activities_vieux_port, .box_activities_calanques, .box_activities_pomegues_frioul, .box_activities_la_garde_longchamp, .box_pomegues, .box_frioul, .box_la_garde, .box_longchamp, .title_activities, .end, .footer
{
    display: flex;
}
 
.photo_housing, .photo_popular, .photo_vieux_port, .photo_calanques, .photo_pomegues, .photo_frioul, .photo_la_garde, .photo_longchamp
{
    object-fit: cover;
    object-position: center;
}
 
h1, strong, .title_activities
{
    font-weight: bold;
}
 
.blue
{
    color: #0065FC;
}
 


/*header style*/

.box_logo_nav_left
{
    width: 80%;
}

.box_logo
{
    width: 70%;
}

.logo 
{
    width: 35%;
}

.box_nav_left
{
    width: 20%;
}

.nav_left
{
    width: 25%;
    justify-content: flex-end;
    margin: 0px;
}

.para_header
{
    border-top: 2px solid #0065FC;
    padding-top: 20px;
}

.nav_right
{
    width: 35%;
}

.ul_nav
{
    justify-content: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.grey_border
{
    width: 50%;
    justify-content: center;
    padding-top: 22px;
}

.register
{
    width: 50%;
    text-align: end;
    padding-top: 22px;
}

a
{
    text-decoration: none;
    color: black;
}


/*first section style*/

.research
{
    margin-top: 65px;
}

.title_research
{
    text-align: center;
}

.para_research
{
    text-align: center;
}

.part_research /*research part style*/
{
    width: 50%;
    margin: 0px 220px;
}

.icon_map /*research part style*/
{
    width: 7%;
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    background-color: #0065FC;  
}

.input_button_search /*research part style*/
{
    width: 95%;
    border: 0.5px solid #F2F2F2;
    border-radius: 0px 10px 10px 0px;
}

input[type] /*research part style*/
{
    width: 75%;
    padding: 10px;
    font-weight: bold;
    border: none;
}

.button_search /*research part style*/
{
    padding: 12px;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
    background-color: #F2F2F2;  
    color: #0065FC;
}

.icon_search /*research part style*/
{
    width: 13px;
    color: white;
    display: none;
}

.filters
{
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}


.title_filters /*filters part style*/
{
    width: 12%;
    font-size: 1.5em;
    align-items: center;
}

.ul_filters /*filters part style*/
{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.li_filters /*filters part style*/
{
    width: auto;
    height: 80%;
    align-items: center;
    border: 2px solid rgb(231, 229, 229);
    border-left: none;
    border-radius: 50px;
    list-style-type: none;
    margin-right: 5px;
}

.icon_filters /*filters part style*/
{
    width: 30px;
    padding: 10px;
    background-color: #DEEBFF;
    border-radius: 100px;
}

.icon_filters_child /*filters part style*/
{
    width: 25px;
    padding: 5px 10px;
    background-color: #DEEBFF;
    border-radius: 100px;
}

.type_filters /*filters part style*/
{
    padding: 10px;
}

.box_infos /*infos part style*/
{
    align-items: center;
    margin-bottom: 20px;
}

.icon_infos /*infos part style*/
{
    width: 5px;
    border: 3px solid #F2F2F2;
    border-radius: 20px;
    padding:  5px 10px;
    margin-right: 5px;
}

.para_infos /*infos part style*/
{
    width: 43%;
}

.span_infos /*infos part style*/
{
    width: 50%;
    align-items: center;
}



/*second section style*/

#accommodations
{
    flex-wrap: wrap-reverse;
}

.box_all_most_popular /*most popular section style*/
{
    flex-direction: row;
    background-color: #DEEBFF;
    border-radius: 10px;
}

.box_title_popular /*most popular section style*/
{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.title_popular
{
    text-align: center;
}

.icon_graph
{
    width: 15%;
}

.box_popular_housing /*most popular section style*/
{
    height: 200px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 5px 5px 20px #e6e3e3;
    padding: 3px;
    margin: 30px 5px;
}

.box_photo_popular /*most popular section style*/
{
    width: 40%;
}

.photo_popular /*most popular section style*/
{
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50px 0px 0px 50px;
}

.box_p_popular /*most popular section style*/
{
    width: 45%;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
}

.p_popular, .para_popular_1, .para_popular_2 /*most popular section style*/
{
    margin: 0px;
}

.para_popular_2 /*most popular section style*/
{
    margin-top: 10px;
}

.box_all_accommodations /*accomodations section style*/
{
    width: 100%;
    height: 700px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 30px;
    margin-top: 65px;
}

.box_title_accommodations /*accomodations section style*/
{
    height: 25px;
    margin: 0px;
}

.box_housing /*accomodations section style*/
{
    width: 30%;
    height: 35%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(185, 184, 184);
    padding: 4px;
}

.photo_housing /*accomodations section style*/
{
    height: 65%;
    border-radius: 10px 10px 0px 0px;
}

.para_housing /*accomodations section style*/
{
    line-height: 27px;
    margin: 0px;
    padding-left: 10px;
}

.plus /*accomodations section style*/
{
    align-items: center;
}

.icon_stars /*accomodations and most popular section style*/
{
    width: 6%;
}

.icon_stars_popular /*accomodations and most popular section style*/
{
    width: 13%;
}




/*third section style*/

#activities 
{
    margin-top: 65px;
}

.box_all_activities
{
    justify-content: space-between;
}

.box_activities_vieux_port, .box_activities_calanques, .box_activities_pomegues_frioul, .box_activities_la_garde_longchamp
{
    width: 20%;
    height: 290px;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
}

.box_activities_vieux_port, .box_activities_calanques
{
    box-shadow: 2px 2px 10px #F2F2F2;
}

.box_large_activities, .photo_vieux_port, .photo_calanques
{
    height: 254px;
}

.box_pomegues, .box_frioul, .box_la_garde, .box_longchamp
{
    height: 130px;
    flex-wrap: wrap;
    border: 1px solid #F2F2F2;
    box-shadow: 1px 1px 5px #F2F2F2;
    background-color: white;
    border-radius: 10px;
}

.box_small_activities, .photo_pomegues, .photo_frioul, .photo_la_garde, .photo_longchamp
{
    height: 95px;
}

.box_pomegues, .box_la_garde
{
    margin-bottom: 27px;
}

.photo_vieux_port, .photo_calanques, .photo_pomegues, .photo_frioul, .photo_la_garde, .photo_longchamp
{
    border-radius: 10px 10px 0px 0px;
}

.title_activities
{
    height: 30px;
    align-items: center;
    font-size: 0.8em;
    border-radius: 0px 0px 10px 10px;
    padding-left: 10px;
    margin: 0px;
}


/*footer section style*/

.footer
{
    font-size: 0.8em;
    background-color: #F2F2F2;
}

.end
{
    width: 90%;
    margin: auto;
}

.ul_footer
{
    list-style: none;
    padding: 0px;
}

.li_footer
{
    padding: 5px;
    padding-left: 0px;
} 
