@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');


 /*body style*/

body
{   
    font-family: "Raleway", sans-serif;
    margin: 0px;
}
 
.page
{
    width: 90%;
    font-size: 0.8em;
    padding-bottom: 50px;
    margin: auto;
}
 
body, header, .nav_left, .ul_nav_right, .research, .filters, #accomodations, .box_title_accommodations, .photo_housing, .plus, .box_title_popular, .box_popular_housing, .photo_popular, .p_popular, #activities, .box_title_activities, .box_all_activities, .box_activities_pomegues, .box_activities_frioul, .photo_vieux_port, .photo_calanques, .photo_pomegues, .photo_frioul, .box_activities_la_garde, .box_activities_longchamp, .photo_la_garde, .photo_longchamp, .footer, .about, .lodging, .assistance
{
    width: 100%;
}
 
header, .box_logo_nav_left, .nav_left, .ul_nav_right, .ul_nav_right_grey_border, .part_research, .input_button_search, .filters, .title_filters, .ul_filters, .li_filters, .box_infos, #accommodations, .box_all_accommodations, .plus, .box_all_most_popular, .box_title_popular, .box_popular_housing, .box_p_popular, .box_all_activities, .box_activities_vieux_port, .box_activities_calanques, .box_activities_pomegues_frioul, .box_activities_la_garde_longchamp, .para_vieux_port, .para_pomegues, .para_frioul, .para_calanques, .para_la_garde, .para_longchamp, .end, .footer
{
    display: flex;
}
 
.photo_housing, .photo_popular, .photo_vieux_port, .photo_calanques, .photo_pomegues, .photo_frioul, .photo_la_garde, .photo_longchamp
{
    object-fit: cover;
    object-position: center;
}
 
h1, strong, .para_vieux_port, .para_pomegues, .para_frioul, .para_calanques, .para_la_garde, .para_longchamp
{
    font-weight: bold;
}

h2
{
    font-size: 1.2em;
}

.icon_map, .icon_search, .icon_filters, .icon_filters_child, .icon_stars, .icon_stars_popular
{
    width: 1em;
}

.icon_graph
{
    width: 1.5em;
}
 
.blue
{
    color: #0065FC;
}

a
{
    text-decoration: none;
    color: black;
}
 


/*header style*/

.box_logo_nav_left
{
    width: 80%;
}

.box_logo
{
    width: 70%;
}

.logo 
{
    width: 35%;
}

.box_nav_left
{
    width: 20%;
}


.nav_left
{
    width: 25%;
    justify-content: center;
    border-top: 2px solid #0065FC;
    margin: 0px;
}

.para_nav_left
{
    text-align: center;
    padding-top: 20px;
}

.nav_right
{
    width: 35%;
}

.ul_nav_right
{
    justify-content: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.ul_nav_right_grey_border
{
    width: 50%;
    justify-content: center;
    padding-top: 22px;
}

.ul_nav_right_register
{
    width: 50%;
    text-align: end;
    padding-top: 22px;
}

a
{
    text-decoration: none;
    color: black;
}


/*first section style*/

.research
{
    margin-top: 65px;
}

.title_research
{
    text-align: center;
}

.para_research
{
    text-align: center;
}

.part_research /*research part style*/
{
    width: 500px;
    height: 45px;
    justify-content: center;
    margin: auto;
}

.icon_map /*research part style*/
{
    padding: 15px;
    border-radius: 10px 0px 0px 10px;
    background-color: #DEEBFF;  
}

.input_button_search /*research part style*/
{
    width: 55%;
    border: 0.5px solid #F2F2F2;
    border-radius: 0px 10px 10px 0px;
}

input /*research part style*/
{
    width: 75%;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px;
}

::placeholder
{
    color: black;
}

.button_search /*research part style*/
{
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
    background-color: #F2F2F2;  
    color: #0065FC;
    padding: 12px;
}

.icon_search /*research part style*/
{
    color: white;
    display: none;
}

.filters
{
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}


.title_filters /*filters part style*/
{
    width: 100px;
    font-size: 1.5em;
    align-items: center;
    margin: auto;
}

.ul_filters /*filters part style*/
{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.li_filters /*filters part style*/
{
    height: 35px;
    border: 2px solid rgb(231, 229, 229);
    border-left: none;
    border-radius: 50px;
    list-style-type: none;
    margin-right: 30px;
}

.icon_filters /*filters part style*/
{
    padding: 12px;
    background-color: #DEEBFF;
    border-radius: 100px;
}

.icon_filters_child /*filters part style*/
{
    padding: 5px 10px;
    background-color: #DEEBFF;
    border-radius: 100px;
}

.type_filters /*filters part style*/
{
    padding: 10px;
}

.li_filters:hover /*hover effect style on li_filters*/
{
    background-color: #0065FC;
    color: #F2F2F2;
    box-shadow: 2px 2px 10px rgb(185, 184, 184);
}

.box_infos /*infos part style*/
{
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.icon_infos /*infos part style*/
{
    width: 0.3em;
    border: 3px solid #F2F2F2;
    border-radius: 20px;
    padding:  5px 8px;
    margin-right: 5px;
}



/*second section style*/

#accommodations
{
    flex-wrap: wrap-reverse;
}

.box_all_most_popular /*most popular section style*/
{
    flex-direction: row;
    background-color: #DEEBFF;
    border-radius: 10px;
}

.box_title_popular /*most popular section style*/
{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.title_popular
{
    text-align: center;
}

.box_popular_housing /*most popular section style*/
{
    height: 150px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 20px #e6e3e3;
    padding: 3px;
    margin: 30px 5px;
}

.box_popular_housing_link
{
    display: flex;
    justify-content: space-between;
}

.photo_popular /*most popular section style*/
{
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px 0px 0px 30px;
}

.box_p_popular /*most popular section style*/
{
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
}

.p_popular, .para_popular_1, .para_popular_2 /*most popular section style*/
{
    margin: 0px;
}

.para_popular_2 /*most popular section style*/
{
    margin-top: 10px;
}

.box_all_accommodations /*accomodations section style*/
{
    width: 100%;
    height: 700px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 30px;
    margin-top: 65px;
}

.box_title_accommodations /*accomodations section style*/
{
    height: 25px;
    margin: 0px;
}

.box_housing /*accomodations section style*/
{
    width: 30%;
    height: 35%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(185, 184, 184);
    padding: 4px;
}

.photo_housing /*accomodations section style*/
{
    height: 65%;
    border-radius: 10px 10px 0px 0px;
}

.para_housing /*accomodations section style*/
{
    line-height: 27px;
    margin: 0px;
    padding-left: 10px;
}

.plus /*accomodations section style*/
{
    align-items: center;
}




/*third section style*/

#activities 
{
    margin-top: 50px;
}

.box_all_activities
{
    justify-content: space-between;
}

.box_activities_vieux_port, .box_activities_pomegues_frioul, .box_activities_calanques, .box_activities_la_garde_longchamp
{
    width: 23%;
    height: 290px;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
}

.box_activities_vieux_port, .box_activities_calanques
{
    border: 1px solid #F2F2F2;
}

.box_photo_vieux_port, .box_photo_calanques
{
    height: 254px;
}

.photo_vieux_port, .photo_calanques
{
    height: 254px;
    border-radius: 10px 10px 0px 0px;
}

.box_activities_pomegues, .box_activities_frioul, .box_activities_la_garde, .box_activities_longchamp
{
    flex-wrap: wrap;
    border: 1px solid #F2F2F2;
    background-color: white;
    border-radius: 10px;
}

.box_activities_pomegues
{
    height: 155px;
}

.box_activities_frioul
{
    height: 105px;
}

.box_activities_la_garde
{
    height: 115px;
}

.box_activities_longchamp
{
    height: 145px;
}

.box_photo_pomegues, .box_photo_frioul, .box_photo_la_garde, .box_photo_longchamp
{
    height: 95px;
}

.photo_pomegues, .photo_frioul, .photo_la_garde, .photo_longchamp
{
    border-radius: 10px 10px 0px 0px;
}

.photo_pomegues
{
    height: 120px;
}

.photo_frioul
{
    height: 70px;
}

.photo_la_garde
{
    height: 80px;
}

.photo_longchamp
{
    height: 110px;
}

.box_activities_pomegues, .box_activities_la_garde
{
    margin-bottom: 27px;
}

.para_vieux_port, .para_pomegues, .para_frioul, .para_calanques, .para_la_garde, .para_longchamp
{
    height: 30px;
    align-items: center;
    font-size: 0.8em;
    border-radius: 0px 0px 10px 10px;
    padding-left: 10px;
    margin: 0px;
}

.box_activities_vieux_port, .box_activities_calanques, .box_activities_pomegues, .box_activities_frioul, .box_activities_la_garde, .box_activities_longchamp
{
    box-shadow: 2px 2px 10px #F2F2F2;
}




/*footer section style*/

.footer
{
    font-size: 0.8em;
    background-color: #F2F2F2;
}

.end
{
    width: 90%;
    margin: auto;
    text-align: center;
}

.ul_footer
{
    list-style: none;
    padding: 0px;
}

.li_footer
{
    font-size: 0.8em;
    padding: 5px;
    padding-left: 0px;
} 
