 /*body style*/

 body
 {   
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;;
    font-size: 2.5em;
    margin: 0px;
 }
 
 .page, .footer
 {
    width: 100%;
    padding: 0px;

 }
 
 .footer
 {   
     width: 100%;
     display: flex;
     background-color: #F2F2F2;
 }
 
 h1, strong
 {
     font-weight: bold;
 }

 .icon_stars, .icon_graph
 {
    width: 5%;
 }

 .icon_stars_popular
 {
     width: 10%;
 }

 .padding_website_sides
{
    padding-left: 50px;
    padding-right: 50px;
}

.padding_website_top_bottom
{
    padding-top: 50px;
    padding-bottom: 50px;
}

 
 
/*header style*/

header
{   
    width: 100%;
    height: 200px;
    display: flex;
    padding-top: 50px;
}

.box_logo_nav_left
{
    width: 50%;
    display: block;
}

.box_logo
{
    width: 100%;
    padding: 0px 0px 0px 50px
}

.para_header
{
    padding-left: 50px;
    border-top: none;
}

.logo
{
    width: 43%;
}

.nav_right
{
    width: 50%;
}

.ul_nav
{
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    align-items: baseline;
    list-style: none;
    margin: 0px;
}

.nav_left
{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 5px solid #0065FC;
    padding-bottom: 30px;
    margin: 0px;
}

.grey_border
{
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: none;
    border-bottom: 5px solid #F2F2F2;
    padding-bottom: 30px;
    padding-right: 50px;
}

.blue
{
    color: #0065FC;
}

.register
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-right: 50px;
}


/*first section style*/

.research, .part_research, .title_filters
{
    width: 100%;
}

.title_research
{
    margin-top: 0px;
}

.icon_map /*research part style*/
{
    width: 4%;
    display: flex;
    padding: 40px;
    border: 0.5px solid #F2F2F2;
    border-radius: 30px 0px 0px 30px;
    background-color: #F2F2F2;  
    object-fit: cover;
}

.button_search
{
    width: 10%;
    border-radius: 30px;
}

.input_button_search
{
    width: 90%;
    display: flex;
    border: 4px solid #F2F2F2;
    border-radius: 0px 30px 30px 0px;
}

input[type] /*research part style*/
{
    width: 90%;
    display: flex;
    padding: 10px;
    font-weight: bold;
    border: none;
}

.text_button_search
{
    display: none;
}

.icon_search
{
    width: 60%;
    padding: 15px;
    display: block;
}

.filters /*filters part style*/
{
    width: 100%;
    margin-top: 50px;  
    display: block;
}

.ul_filters /*filters part style*/
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    margin: 20px 0px 0px 0px;
}

.li_filters /*filters part style*/
{
    width: auto;
    margin-bottom: 50px;
    list-style-type: none;
    display: flex;
    align-items: center;
    border: 5px solid rgb(231, 229, 229);
    border-left: none;
    border-radius: 100px;
}

.icon_filters /*filters part style*/
{
    width: 10%;
    padding: 20px;
    border: 0.5px solid #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 50px;
}

.icon_filters_child /*filters part style*/
{
    width: 10%;
    padding: 20px 30px;
    border: 0.5px solid #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 50px;
}

.type_filters /*filters part style*/
{
    width: 100%;
    text-align: start;
}

.box_infos
{
    width: 100%;
    display: flex;
    align-items: center;
}

.box_icon_infos
{
    width: auto;
}

.icon_infos /*infos part style*/
{
    width: 10px;
    border: 3px solid rgb(231, 229, 229);
    border-radius: 50px;
    padding:  5px 15px;
    margin-right: 15px;
}

.para_span_infos /*infos part style*/
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.para_infos
{
    width: 100%;
    margin: 0px;
    padding-top: 35px;
}

.span_infos
{
    width: auto;
    display: flex;
    align-items: center;
}



/*second section style*/

#accommodations
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
}

.box_all_most_popular /*most popular section style*/
{
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 0px;
    margin: 0px;
}

.box_title_popular /*most popular section style*/
{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.box_popular_housing /*most popular section style*/
{
    width: 100%;
    height: 300px;
    display: flex;
    background-color: white;
    border-radius: 50px;
    box-shadow: 20px 20px 20px #e6e3e3;
    padding: 10px;
    margin: 30px 0px;
}

.box_photo_popular
{
    width: 40%;
}

.photo_popular /*most popular section style*/
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50px 0px 0px 50px;
}

.box_p_popular /*most popular section style*/
{
    width: 45%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 50px;
}

.p_popular
{
    width: 100%;
    margin: 0px;
}

.box_all_accommodations /*accomodations section style*/
{
    width: 100%;
    height: auto;
    display: block;
    background-color: white;
    margin: 0px;
}

.box_title_accommodations /*accomodations section style*/
{
    width: 100%;
    height: 5%;
    margin: 0px;
}

.box_housing /*accomodations section style*/
{
    width: 100%;
    height: 530px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    box-shadow: 20px 20px 20px #F2F2F2;
    padding: 10px;
    margin: 30px 0px;
}

.photo_housing /*accomodations section style*/
{
    width: 100%;
    height: 300px;
    border-radius: 50px 50px 0px 0px;
    object-fit: cover;
    object-position: center;
}

.para_housing /*accomodations section style*/
{
    height: 200px;
    line-height: 70px;
    margin: 0px;
    padding-left: 10px;
}

.plus 
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 20px;
}






