@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
 
 
/*body style*/

body
{   
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-size: 2.3em;
    margin: 0px;
}

body, header, .nav_left, .ul_nav, .grey_border, .register, .photo_popular, .photo_housing, .photo_vieux_port, .photo_calanques,.box_photo_vieux_port, .box_photo_calanques, .photo_pomegues, .photo_frioul, .photo_la_garde, .photo_longchamp, .box_photo_pomegues, .box_photo_frioul, .box_photo_la_garde, .box_photo_longchamp, .footer
{
    width: 100%;
}

body, header, .nav_left, .ul_nav, .grey_border, .register, .part_research, .icon_map, .input_button_search, input, .button_search, .ul_filters, .li_filters, .box_infos, .para_span_infos, .span_infos, #accommodations, .box_title_popular, .box_popular_housing, .box_p_popular, .box_activities_vieux_port, .box_activities_calanques, .box_activities_pomegues_frioul, .box_activities_la_garde_longchamp, .box_pomegues, .box_frioul, .box_la_garde, .box_longchamp, .title_vieux_port, .title_pomegues, .title_frioul, .title_calanques, .title_la_garde, .title_longchamp, .footer 
{
    display: flex;
}

.photo_housing, .photo_popular, .photo_vieux_port, .photo_calanques, .photo_pomegues, .photo_frioul, .photo_la_garde, .photo_longchamp
{
    object-fit: cover;
    object-position: center;
}
 
 h1, strong, .title_vieux_port, .title_pomegues, .title_frioul, .title_calanques, .title_la_garde, .title_longchamp
 {
     font-weight: bold;
 }

.icon_stars, .icon_graph
{
    width: 5%;
}

.icon_stars_popular
{
    width: 10%;
}

.padding_website_sides
{
    padding-left: 50px;
    padding-right: 50px;
}

.padding_website_top_bottom
{
    padding-top: 50px;
    padding-bottom: 50px;
}

 
 
/*header style*/

.box_logo_nav_left
{
    width: 50%;
}

.box_logo
{
    padding: 0px 0px 0px 50px;
}

.logo
{
    width: 50%;
}

.nav_left
{
    justify-content: center;
    border-bottom: 5px solid #0065FC;
    padding: 30px 0px;
    margin: 0px;
}

.para_header
{
    width: 43%;
    padding-left: 50px;
    border-top: none;
}

.nav_right
{
    width: 50%;
}

.ul_nav
{
    height: 100%;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    align-items: baseline;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.grey_border
{
    justify-content: center;
    border-top: none;
    border-bottom: 5px solid #F2F2F2;
    padding-bottom: 30px;
}

.register
{
    justify-content: flex-end;
    padding-right: 50px;
}

a
{
    text-decoration: none;
    color: black;
}

.blue
{
    color: #0065FC;
}



/*first section style*/

.part_research
{
    width: 85%;
}

.title_research
{
    margin-top: 0px;
}

.icon_map /*research part style*/
{
    width: 5%;
    padding: 32px;
    border-radius: 30px 0px 0px 30px;
    background-color: #F2F2F2;  
}

.input_button_search /*research part style*/
{
    border: 4px solid #F2F2F2;
    border-radius: 0px 30px 30px 0px;
}

input /*research part style*/
{
    width: 85%;
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    padding: 30px;
}

::placeholder
{
    color: black;
}

.button_search /*research part style*/
{
    width: 15%;
    justify-content: center;
    border-radius: 30px 30px 30px 30px;
    background-color: #0065FC;  
}

.text_button_search /*research part style*/
{
    display: none;
}

.icon_search /*research part style*/
{
    width: 50%;
    padding: 15px;
}

.filters /*filters part style*/
{
    width: 85%;
    margin-top: 50px;  
}

.ul_filters /*filters part style*/
{
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    margin: 30px 0px 0px 0px;
}

.li_filters /*filters part style*/
{
    height: 80px;
    align-items: center;
    border: 5px solid rgb(231, 229, 229);
    border-left: none;
    border-radius: 100px;
    margin-bottom: 50px;
    list-style-type: none;
}

.icon_filters /*filters part style*/
{
    width: 10%;
    padding: 20px;
    background-color: #DEEBFF;
    border-radius: 50px;
}

.icon_filters_child /*filters part style*/
{
    width: 45px;
    padding: 12px 20px;
    background-color: #DEEBFF;
    border-radius: 50px;
}

.type_filters /*filters part style*/
{
    padding: 0px 20px;
}

.box_infos /*infos part style*/
{
    align-items: center;
}

.icon_infos /*infos part style*/
{
    width: 10px;
    border: 3px solid rgb(231, 229, 229);
    border-radius: 50px;
    padding:  5px 15px;
    margin-right: 15px;
}

.para_span_infos /*infos part style*/
{
    flex-wrap: wrap;
}

.para_infos /*infos part style*/
{
    margin: 0px;
    padding-top: 35px;
}

.span_infos /*infos part style*/
{
    width: auto;
    align-items: center;
}



/*second section style*/

#accommodations
{
    flex-direction: column-reverse;
}

.box_all_most_popular /*most popular section style*/
{
    background-color: #F2F2F2;
    border-radius: 0px;
}

.box_title_popular /*most popular section style*/
{
    justify-content: space-between;
}

.box_popular_housing /*most popular section style*/
{
    height: 370px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 20px 20px 20px #e6e3e3;
    padding: 10px;
    margin: 30px 0px;
}

.box_photo_popular /*most popular section style*/
{
    width: 40%;
}

.photo_popular /*most popular section style*/
{
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50px 0px 0px 50px;
}

.box_p_popular /*most popular section style*/
{
    width: 45%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 50px;
}

.p_popular, .para_popular_1, .para_popular_2 /*most popular section style*/
{
    margin: 0px;
}

.para_popular_2 /*most popular section style*/
{
    margin-top: 30px;
}

.box_housing /*accomodations section style*/
{
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    box-shadow: 20px 20px 20px #F2F2F2;
    padding: 10px;
    margin: 30px 0px;
}

.photo_housing /*accomodations section style*/
{
    height: 300px;
    border-radius: 50px 50px 0px 0px;
}

.para_housing /*accomodations section style*/
{
    line-height: 70px;
    margin: 0px;
    padding-left: 10px;
}

.plus /*accomodations section style*/
{
    padding-top: 40px;
}



/*third section style*/

.box_title_activities
{
    margin: 0px;
}

.box_activities_vieux_port, .box_activities_calanques
{
    height: 530px;
    flex-wrap: wrap;
    box-shadow: 20px 20px 20px #F2F2F2;
    border-radius: 50px;
    margin: 50px 0px;
}

.photo_vieux_port, .photo_calanques
{
    height: 400px;
    border-radius: 50px 50px 0px 0px;
}

.box_activities_pomegues_frioul, .box_activities_la_garde_longchamp
{
    flex-wrap: wrap;
}

.box_activities_pomegues, .box_activities_frioul, .box_activities_la_garde, .box_activities_longchamp
{
    height: 530px;
    flex-wrap: wrap;
    border: 1px solid #F2F2F2;
    box-shadow: 20px 20px 20px #F2F2F2;
    background-color: white;
    border-radius: 50px;
}

.photo_pomegues, .photo_frioul, .photo_la_garde, .photo_longchamp
{
    height: 400px;
    border-radius: 50px 50px 0px 0px;
}

.box_activities_pomegues, .box_activities_la_garde
{
    margin-bottom: 50px;
}

.title_vieux_port, .title_pomegues, .title_frioul, .title_calanques, .title_la_garde, .title_longchamp
{
    padding-left: 30px;
}


/*footer section style*/

.footer
{
    background-color: #F2F2F2;
}

.end
{
    width: 90%;
    margin: auto;
}

.about, .lodging, .assistance
{
    margin-bottom: 100px;
}

.ul_footer
{
    list-style: none;
    line-height: 100px;
    padding: 0px;
}

.li_footer
{
    margin: 0px;
    padding: 5px;
    padding-left: 0px;
}