@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');



 /*body style*/

body
{   
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;;
    font-size: 0.8em;
    margin: 0px;
}

.page, .footer
{
    width: 90%;
    padding: 0px;
    margin: auto;
}

.header, .research, #accomodations, #activities
{
    width: 100%;
    height: 100%;
}

.footer
{   
    width: 100%;
    display: flex;
    background-color: #F2F2F2;
}

h1, strong, .title_activities
{
    font-weight: bold;
}


/*header style*/

header
{   
    width: 100%;
    display: flex;
    margin: 0px;
}

.box_logo_nav_left
{
    width: 80%;
    display: flex;
}

.box_logo
{
    width: 80%;
}

.logo
{
    width: 50%;
}

.box_nav_left
{
    width: 20%;
}

.nav_left
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}

.para_header
{
    border-top: 2px solid #0065FC;
    padding-top: 10px;
}

.nav_right
{
    width: 20%;
}

.ul_nav
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.grey_border
{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
}

.register
{
    width: 50%;
    text-align: end;
    padding-top: 12px;
}

a
{
    text-decoration: none;
    color: black;
}

.blue, .register
{
    color: #0065FC;
}



/*first section style*/

.part_research /*research part style*/
{
    width: 30%;
    display: flex;
}

.icon_map /*research part style*/
{
    width: 4%;
    display: flex;
    padding: 12px;
    border: 0.5px solid #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;  
    object-fit: cover;
}

.input_button_search
{
    width: 95%;
    display: flex;
    border: 0.5px solid #F2F2F2;
    border-radius: 0px 10px 10px 0px;
}

input[type] /*research part style*/
{
    width: 75%;
    display: flex;
    padding: 10px;
    font-weight: bold;
    border: none;
}

.button_search /*research part style*/
{
    width: 30%;
    display: flex;
    padding: 12px;
    border: 0.5px solid #0065FC;
    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;  
    color: white;
}

.icon_search
{
    width: 13px;
    color: white;
    display: none;
}

.filters /*filters part style*/
{
    width: 100%;
    display: flex;
}

.title_filters /*filters part style*/
{
    width: 5%;
    display: flex;
    align-items: center;
}

.ul_filters /*filters part style*/
{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    
}

.li_filters /*filters part style*/
{
    width: auto;
    height: 80%;
    list-style-type: none;
    display: flex;
    align-items: center;
    border: 2px solid rgb(231, 229, 229);
    border-left: none;
    border-radius: 50px;
}

.icon_filters /*filters part style*/
{
    width: 20px;
    padding: 10px;
    border: 0.5px solid #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 100px;
}

.icon_filters_child /*filters part style*/
{
    width: 20px;
    padding: 5px 10px;
    border: 0.5px solid #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 100px;
}

.type_filters /*filters part style*/
{
    padding: 10px;
}

.li_filters:hover /*hover effect style on li_filters*/
{
    background-color: rgb(195, 218, 236);
    color: #0065FC;
    box-shadow: 10px 5px 5px #0065FC;
}

.box_infos
{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.box_icon_infos
{
    width: auto;
}

.icon_infos /*infos part style*/
{
    width: 5px;
    border: 3px solid #F2F2F2;
    border-radius: 20px;
    padding:  5px 10px;
    margin-right: 5px;
}

.para_span_infos /*infos part style*/
{
    width: 100%;
    display: flex;
}

.para_infos
{
    width: 22%;
}

.span_infos
{
    width: auto;
    display: flex;
    align-items: center;
}



/*second section style*/

#accommodations
{
    width: 100%;
    height: 100%;
    display: flex;
}

.box_all_accommodations /*accomodations section style*/
{
    width: 70%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-right: 30px;
    padding: 30px;
}

.box_title_accommodations /*accomodations section style*/
{
    width: 100%;
    height: 5%;
    margin: 0px;
}

.box_housing /*accomodations section style*/
{
    width: 30%;
    height: 35%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(185, 184, 184);
    padding: 4px;
}

.photo_housing /*accomodations section style*/
{
    width: 100%;
    height: 65%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: center;
}

.para_housing /*accomodations section style*/
{
    height: auto;
    line-height: 20px;
    margin: 0px;
    padding-left: 10px;
}

.plus 
{
    width: 100%;
    height: 0%;
    margin: 0px;
}

.icon_stars, .icon_graph /*accomodations and most popular section style*/
{
    width: 6%;
}

.icon_stars_popular
{
    width: 10%;
}

.box_all_most_popular /*most popular section style*/
{
    width: 25%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 30px;
}

.box_title_popular /*most popular section style*/
{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
}

.title_popular
{
    margin: 0px;
}

.box_popular_housing /*most popular section style*/
{
    width: 100%;
    height: 22%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(185, 184, 184);
    padding: 4px;
}

.box_photo_popular
{
    width: 40%;
}

.photo_popular /*most popular section style*/
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 0px 0px 10px;
}

.box_p_popular /*most popular section style*/
{
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.p_popular
{
    width: 100%;
    margin: 0px;
}

.plus
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}




/*third section style*/

#activities 
{
    margin-top: 50px;
}

.box_title_activities
{
    width: 100%;
}

.box_all_activities
{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.box_activities_vieux_port, .box_activities_calanques
{
    width: 20%;
    height: 290px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #F2F2F2;
    box-shadow: 1px 1px 5px #F2F2F2;
    background-color: white;
    border-radius: 10px;
}

.photo_vieux_port, .photo_calanques
{
    width: 100%;
    height: 254px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: center;
}

.box_large_activities
{
    width: 100%;
    height: 254px;
}

.box_activities_pomegues_frioul, .box_activities_la_garde_longchamp
{
    width: 20%;
    height: 290px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
}

.box_pomegues, .box_frioul, .box_la_garde, .box_longchamp
{
    width: 100%;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #F2F2F2;
    box-shadow: 1px 1px 5px #F2F2F2;
    background-color: white;
    border-radius: 10px;
}

.photo_pomegues, .photo_frioul, .photo_la_garde, .photo_longchamp
{
    width: 100%;
    height: 95px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
}

.box_small_activities_
{
    width: 100%;
    height: 95px;
}

.box_pomegues, .box_la_garde
{
    margin-bottom: 27px;
}

.title_activities
{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 1em;
    border-radius: 0px 0px 10px 10px;
    padding-left: 10px;
    margin: 0px;
}



footer
{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
}

.ul_footer
{
    list-style: none;
    padding: 0px;
}

.li_footer
{
    margin: 0px;
    padding: 5px;
    padding-left: 0px;
}




















