@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');


 /*style for the page*/

body
{
    font-family: "Raleway", sans-serif;;
    font-size: 1em;
    margin: 0 25px;
}

h1
{
    font-size: 1.5em;
}

h2, h3
{
    font-size: 1em;
}


/*style for the header part*/

header
{
    display: flex;
    justify-content: space-between;
}

.logo
{
    padding-top: 20px;
}

nav
{
    width: 500px;
}

.list_menu
{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0px;
}

li
{
    padding: 30px 40px;
}

a
{
    text-decoration: none;
    color: black;
}

.blue
{
    color: #0065FC;
}

.border
{
    border-top: 2px solid #0065FC;
}


/*style for the first section part*/

h1
{
    padding-top: 30px;
}

.button /*style for the research part*/
{
    display: flex;
    width: 250px;
    height: 30px;
}

.icon_map /*style for the research part*/
{
    display: flex;
    width: 15px;
    padding: 8px;
    border: 0.5px solid #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;  
}

input[type] /*style for the research part*/
{
    display: flex;
    padding: 10px;
    border: 0.5px solid #F2F2F2;
    font-weight: bold;
}

.search /*style for the research part*/
{
    display: flex;
    align-items: center;
    width: 100px;
    padding: 10px;
    border: 0.5px solid #0065FC;
    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;  
    color: white;
}


.filters /*style for the filters part*/
{
    display: flex;
    margin : 20px 0px;
}


.title_filters /*style for the filters part*/
{
    display: flex;
    align-items: center;
}

.ul_filters /*style for the filters part*/
{
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
}

.li_filters /*style for the filters part*/
{
    list-style-type: none;
    display: flex;
    align-items: center;
    border: 2px solid rgb(231, 229, 229);
    border-left: none;
    border-radius: 50px;
    padding: 0px 25px 0px 0px;
}

.icon_money /*style for the filters part*/
{
    width: 20px;
    display: flex;
    align-items: center;
    padding: 15px 14px;
    border: 0.5px solid #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 100px;
}

.icon_child /*style for the filters part*/
{
    width: 15px;
    display: flex;
    align-items: center;
    padding: 13px 17px;
    border: 0.5px solid #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 100px;
}

.icon_heart /*style for the filters part*/
{
    width: 20px;
    display: flex;
    align-items: center;
    padding: 13px;
    border: 0.5px solid #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 100px;
}

.icon_dog /*style for the filters part*/
{
    width: 20px;
    display: flex;
    align-items: center;
    padding: 14px;
    border: 0.5px solid #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 100px;
}

.type_filters /*style for the filters part*/
{
    padding-left: 20px;
}


.infos
{
    display: flex;
    height: 25px;
    
}

.icon_infos
{
    width: 5px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    padding:  5px 9px;
}

.p_infos
{
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin: 0px;
}

.li_filters:hover
{
    background-color: rgb(195, 218, 236);
    color: #0065FC;
    box-shadow: 10px 5px 5px #0065FC;
}


















